.photo-list__item {
  margin: 24px;
  padding: 8px;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}

.photo-list__image {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  margin-right: 8px;
  width: 60px;
  height: 60px;
}

.photo-list__user-details {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.photo-list__user-info {
  margin-top: 0px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
}

.photo-list__user-location {
  color: #838383;
}